<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-3">
        <div class="my-3 border-bottom">
            <div>
                <h4>회원가입</h4>
            </div>
        </div>

        <!-- Thymeleaf에서 alert 창을 띄우기 위한 코드 -->
        <div th:if="${not #strings.isEmpty(message)}" class="alert alert-success">
            <p th:text="${message}"></p>
            <!-- 여기에 필요한 추가적인 메시지나 버튼을 넣을 수 있습니다. -->
        </div>

        <form th:action="@{/user/register}" th:object="${userCreateForm}" method="post">
            <!-- 폼의 내용 여기에 추가 -->
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="mb-3">
                <label for="username" class="form-label">사용자이름</label>
                <input type="text" th:field="*{username}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" th:field="*{password1}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호 확인</label>
                <input type="password" th:field="*{password2}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" th:field="*{email}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" id="signupBtn" onclick="submitForm()">회원가입</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
		<script th:inline="javascript">
		    function submitForm() {
		        // alert 창에 메시지 표시
		        alert("회원 가입 완료!");
		
		        // 폼 제출을 막아 기본 동작을 막음
		        return false;
		    }
		</script>
</body>
</html>
